# Data Analysis

Objective: Quantitative analyse of data ...

In [1]:
import sqlite3, pandas as pd

In [50]:
con = sqlite3.connect("../cv-node-data/db/cvnode.db")
cur = con.cursor()

In [51]:
jobs = pd.read_sql_query("SELECT rowid, * from jobs", con, parse_dates=['begin_at', 'final_at'])
jobs.shape

(4, 7)

In [52]:
jobs.sort_values(by='rowid', ascending=False).head()

,rowid,begin_at,project_id,collect_id,thing_id,thing_tag,final_at
3,4,2025-01-13 17:46:58.331970,PR-9,CL-9,XY00-9,TG-00,2025-01-13 17:47:00.101810
2,3,2025-01-13 17:45:51.012623,PR-9,CL-9,XY00-9,TG-00,2025-01-13 17:45:52.479241
1,2,2025-01-13 17:44:39.080557,PR-9,CL-9,XY00-9,TG-00,2025-01-13 17:44:40.784753
0,1,2025-01-13 17:43:57.750765,PR-9,CL-9,XY00-9,TG-00,2025-01-13 17:43:59.359502

In [53]:
jobs['duration'] = jobs['final_at'] - jobs['begin_at']
jobs.sort_values(by='rowid', ascending=False).head()

,rowid,begin_at,project_id,collect_id,thing_id,thing_tag,final_at,duration
3,4,2025-01-13 17:46:58.331970,PR-9,CL-9,XY00-9,TG-00,2025-01-13 17:47:00.101810,0 days 00:00:01.769840
2,3,2025-01-13 17:45:51.012623,PR-9,CL-9,XY00-9,TG-00,2025-01-13 17:45:52.479241,0 days 00:00:01.466618
1,2,2025-01-13 17:44:39.080557,PR-9,CL-9,XY00-9,TG-00,2025-01-13 17:44:40.784753,0 days 00:00:01.704196
0,1,2025-01-13 17:43:57.750765,PR-9,CL-9,XY00-9,TG-00,2025-01-13 17:43:59.359502,0 days 00:00:01.608737

In [54]:
jobs.describe()

          rowid                   duration
count  4.000000                          4
mean   2.500000  0 days 00:00:01.637347750
std    1.290994  0 days 00:00:00.131643593
min    1.000000     0 days 00:00:01.466618
25%    1.750000  0 days 00:00:01.573207250
50%    2.500000  0 days 00:00:01.656466500
75%    3.250000     0 days 00:00:01.720607
max    4.000000     0 days 00:00:01.769840

## Run

In [55]:
runs = pd.read_sql_query("SELECT rowid, * from runs", con, parse_dates=['begin_at', 'final_at'])
runs.shape

(49, 6)

In [56]:
runs.sort_values(by='rowid', ascending=False).head()

,rowid,begin_at,status,sensor,job_id,final_at
48,49,2025-01-13 17:47:00.089263,CREATED,MaxSense - A075v,4,2025-01-13 17:47:00.162626
47,48,2025-01-13 17:47:00.020416,CREATED,MaxSense - A075v,4,2025-01-13 17:47:00.085664
46,47,2025-01-13 17:46:59.948964,CREATED,MaxSense - A075v,4,2025-01-13 17:47:00.016844
45,46,2025-01-13 17:46:59.879975,CREATED,MaxSense - A075v,4,2025-01-13 17:46:59.945320
44,45,2025-01-13 17:46:59.808764,CREATED,MaxSense - A075v,4,2025-01-13 17:46:59.875389

In [57]:
runs_1 = runs.merge(
    jobs[['rowid', 'project_id', 'collect_id', 'thing_id', 'thing_tag']], 
    left_on='job_id', 
    right_on='rowid', 
    how='left').rename(columns={'rowid_x':'run_id'}).drop(columns=['rowid_y'])
runs_1.shape

(49, 10)

In [58]:
runs_1.sort_values(by='run_id', ascending=False).head()

,run_id,begin_at,status,sensor,job_id,final_at,project_id,collect_id,thing_id,thing_tag
48,49,2025-01-13 17:47:00.089263,CREATED,MaxSense - A075v,4,2025-01-13 17:47:00.162626,PR-9,CL-9,XY00-9,TG-00
47,48,2025-01-13 17:47:00.020416,CREATED,MaxSense - A075v,4,2025-01-13 17:47:00.085664,PR-9,CL-9,XY00-9,TG-00
46,47,2025-01-13 17:46:59.948964,CREATED,MaxSense - A075v,4,2025-01-13 17:47:00.016844,PR-9,CL-9,XY00-9,TG-00
45,46,2025-01-13 17:46:59.879975,CREATED,MaxSense - A075v,4,2025-01-13 17:46:59.945320,PR-9,CL-9,XY00-9,TG-00
44,45,2025-01-13 17:46:59.808764,CREATED,MaxSense - A075v,4,2025-01-13 17:46:59.875389,PR-9,CL-9,XY00-9,TG-00

## Itens

In [62]:
itens = pd.read_sql_query("SELECT rowid, * from itens", con)
itens.shape

(276, 7)

In [63]:
itens.sort_values(by='rowid', ascending=False).head()

,rowid,status,type,pov,res,file_path,run_id
275,276,STAGED,IMAGE,TOP_DOWN,_320_240_1,TG-00_69_2025_01_13_17_49_35_141692_STATUS_320...,69
274,275,STAGED,IMAGE,TOP_DOWN,_320_240_1,TG-00_69_2025_01_13_17_49_35_141692_IR_320_240...,69
273,274,STAGED,IMAGE,TOP_DOWN,_320_240_1,TG-00_69_2025_01_13_17_49_35_141692_DEPTH_320_...,69
272,273,STAGED,IMAGE,TOP_DOWN,_640_480_3,TG-00_69_2025_01_13_17_49_35_141692_RGB_640_48...,69
271,272,STAGED,IMAGE,TOP_DOWN,_320_240_1,TG-00_68_2025_01_13_17_49_34_688491_STATUS_320...,68

In [47]:
itens.groupby('run_id').size().describe()

count    442.000000
mean       3.029412
std        1.405059
min        1.000000
25%        1.000000
50%        4.000000
75%        4.000000
max        4.000000
dtype: float64

## Data
$t = jobs * runs-per-job * items$

In [66]:
t = 23 * 265 * 4
print(f'{t} itens')

24380 itens