In [1]:
import pandas as pd

In [11]:
df_1 = pd.read_json('exps/1/durations.json')
df_1.shape

(38, 4)

In [12]:
df_1.describe().loc[['mean', 'std', 'min', 'max']]

      0-capture  1-store_img  2-store_db
mean   0.620330     0.275615    0.026395
std    0.026084     0.022190    0.064932
min    0.589723     0.251729    0.010949
max    0.703048     0.349189    0.396412

In [13]:
df_2 = pd.read_json('exps/2/durations.json')
df_2.shape

(51, 4)

In [14]:
df_2.describe().loc[['mean', 'std', 'min', 'max']]

      0-capture  1-store_img  2-store_db
mean   0.498763     0.115795    0.014799
std    0.021511     0.017641    0.013390
min    0.463613     0.100722    0.010645
max    0.542061     0.153514    0.108036

In [15]:
df_3 = pd.read_json('exps/3/durations.json')
df_3.shape

(57, 4)

In [16]:
df_3.describe().loc[['mean', 'std', 'min', 'max']]

      0-capture  1-store_img  2-store_db
mean   0.478996     0.060606    0.025476
std    0.018083     0.013087    0.087773
min    0.421889     0.046523    0.010658
max    0.521968     0.091718    0.676300

In [17]:
df_4 = pd.read_json('exps/4/durations.json')
df_4.shape

(64, 4)

In [18]:
df_4.describe().loc[['mean', 'std', 'min', 'max']]

      0-capture  1-store_img  2-store_db
mean   0.450715     0.034233    0.013551
std    0.017657     0.006811    0.001912
min    0.381677     0.024290    0.010892
max    0.483435     0.046920    0.023782

In [2]:
df_5 = pd.read_json('exps/5/durations.json')
df_5.shape

(44, 4)

In [3]:
df_5.describe().loc[['mean', 'std', 'min', 'max']]

      0-capture  2-store_db  1-store_img
mean   0.621367    0.059333     0.280522
std    0.032694    0.162476     0.022403
min    0.586505    0.012559     0.257926
max    0.791026    0.951353     0.376334

In [4]:
df_6 = pd.read_json('exps/6/durations.json')
df_6.shape

(54, 4)

In [5]:
df_6.describe().loc[['mean', 'std', 'min', 'max']]

      0-capture  2-store_db  1-store_img
mean   0.509064    0.036455     0.194552
std    0.021132    0.069495     0.030499
min    0.441871    0.011260     0.106909
max    0.549778    0.423758     0.277023

In [6]:
df_7 = pd.read_json('exps/7/durations.json')
df_7.shape

(59, 4)

In [7]:
df_7.describe().loc[['mean', 'std', 'min', 'max']]

      0-capture  2-store_db  1-store_img
mean   0.486835    0.017100     0.111169
std    0.013611    0.021679     0.067828
min    0.440899    0.010811     0.049088
max    0.518558    0.168847     0.213614

In [8]:
df_8 = pd.read_json('exps/8/durations.json')
df_8.shape

(63, 4)

In [9]:
df_8.describe().loc[['mean', 'std', 'min', 'max']]

      0-capture  2-store_db  1-store_img
mean   0.457011    0.013510     0.043369
std    0.016873    0.002040     0.007241
min    0.389163    0.010833     0.025012
max    0.495750    0.023642     0.059268